<div class='field row card-title'>
  <div class='col-sm-3'>
    <%= f.label :full_name %>
  </div>
  <div class='col-sm-5 form-group'>
    <%= f.text_field :full_name, class: 'form-control', placeholder: t('activerecord.attributes.user.full_name'), required: true %>
    <div class='valid-tooltip form-validation-tooltip-placement'>
      <%= t('helpers.validation.valid') %>
    </div>
    <div class='invalid-tooltip form-validation-tooltip-placement'>
      <%= error_message_for(f.object, :full_name, model_klass: User) %>
    </div>
  </div>
</div>
