<div class="card">
  <div class="card-header">
    <%= t('.title') %>
  </div>
  <div class="card-body">
    <%= form_for @user, url: @user.update_link, html: { class: "form-horizontal" } do |f| %>
      <%= render 'form', f: f, user: @user %>
    <% end %>
  </div>
</div>
