version: '3'
services:
  redis:
    image: redis:5.0.7

  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: hugohernani
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  web:
    build: .
    environment:
      POSTGRES_PASSWORD: hugohernani
      REDIS_URL: redis
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
