.custom-file-input{
  cursor: pointer;
}

.change-image-btn{
  position: absolute;
  right: 10px;
  top: 10px;
}

.user-card{
  width: 25em;
}

.user-role-switcher{
  position: absolute;
  top: 10px;
  right: 10px;

  background: rgb(255, 255, 255);
  padding: 5px 5px 5px 45px;
}

.role-switcher *{
  cursor: pointer;
}
