<div class="progress-bar"
     role="progressbar"
     style="width: <%= bulk_upload.processed_value %>%;"
     aria-valuenow="<%= bulk_upload.processed_value %>"
     aria-valuemin="0" aria-valuemax="100"><%= bulk_upload.processed_value %>%
 </div>
