.card-img-top{
  img{
    max-width: 100%;
    max-width: 100%;
    margin-top: 2px;
  }
}

.avatar-image-container{
  position: absolute;

  bottom: 0px;
  right: 0px;
  height: 30%;
  width: 30%;

  transition: width 0.2s, height 0.2s;

  img{
    width: 100%;
    height: 100%;
  }

  &:hover{
    height: 100%;
    width: 100%;
  }
}
